Repository VaultSovereign/ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area:docs, area:prompts, ops:mcp, owner:maintainers, domain:general

feat: add markdown auto-fix helpers
  Makefile
  scripts/fix_markdown.py
Labels: none

fix: auto-fix markdown lint issues
  docs/automations.md
  docs/badges-and-supply-chain.md
  docs/ci-pipeline.md
  docs/docs-generation.md
  docs/evals-and-coverage.md
  docs/index.md
  docs/mcp-knowledge-summon-blueprint.md
  docs/summon.md
Labels: area:docs

feat: complete markdown polish - 80→0 errors
  .obsidian/workspace.json
  Makefile
  docs/ci-pipeline.md
  docs/evals-and-coverage.md
  docs/mcp-knowledge-summon-blueprint.md
  docs/summon.md
  eval-results/coverage-results.json
  eval-results/roe-compliance-results.json
  scripts/fix_md_headings.py
Labels: area:docs

feat: add JUnit integration for PR test reporting
  .github/workflows/evals.yml
  .gitignore
  .obsidian/workspace.json
  Makefile
  eval-results/roe-compliance-results.json
  junit.xml
  pytest.ini
  tests/test_smoke.py
  tools/index.json
Labels: none

feat: add HTML reports to GitHub Pages - visual evolution complete
  .github/workflows/publish-reports.yml
  .gitignore
  .obsidian/workspace.json
  AGENTS.md
  Makefile
  README.md
  docs/CRISIS.md
  docs/FEDERATION.md
  docs/LEADERSHIP.md
  docs/SIGNALS.md
  docs/governance-analysis.md
  docs/schemas/proposal.schema.json
  docs/schemas/signal.schema.json
  proposals/README.md
  scripts/generate_html_reports.py
  scripts/pr_summary.py
  tools/index.json
Labels: area:docs

Refactor: Rename project to Social Engineering Strategist
  README.md
  SYSTEM_OVERVIEW.md
  __pycache__/debrief_materials.cpython-313.pyc
  __pycache__/safety_guardrails.cpython-313.pyc
  __pycache__/simulation_scenarios.cpython-313.pyc
  __pycache__/social_engineering_strategist.cpython-313.pyc
  __pycache__/success_metrics.cpython-313.pyc
  __pycache__/training_module_templates.cpython-313.pyc
  debrief_materials.py
  example_usage.py
  safety_guardrails.py
  simulation_scenarios.py
  social_engineering_strategist.py
  success_metrics.py
  test_system.py
  training_module_templates.py
Labels: none

feat: Add social engineering awareness program resources
  prompts/Personas/Social-Engineering-Strategist.md
  resources/debrief-materials.md
  resources/simulation-scenarios.md
  resources/social-engineering-awareness-index.md
  resources/social-engineering-training-modules.md
  resources/success-metrics-framework.md
Labels: area:prompts

Refactor: Introduce social engineering toolkit
  README.md
  example_usage.py
  simulation_scenarios.py
  social_engineering_strategist.py
  training_content.py
Labels: none

feat: add Oracle-Prompts.md with comprehensive educational content prompt library
  prompts/Oracle-Prompts.md
Labels: area:prompts

feat: comprehensive updates to VaultMesh TEM Ops repository
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/governance.yml
  .obsidian/workspace.json
  Makefile
  Makefile.vm
  README.md
  docs/CRISIS.md
  docs/FEDERATION.md
  docs/LEADERSHIP.md
  docs/SIGNALS.md
  docs/automations.md
  docs/badges-and-supply-chain.md
  docs/ci-pipeline.md
  docs/digests/2025-39.md
  docs/docs-generation.md
  docs/evals-and-coverage.md
  docs/governance-analysis.md
  docs/index.md
  docs/mcp-knowledge-summon-blueprint.md
  docs/schemas/proposal.schema.json
  docs/schemas/signal.schema.json
  docs/summon.md
  eval-results/coverage-results.json
  prompts/Tem-Prompts.md
  prompts/index.json
  proposals/P-2025-001.yaml
  proposals/README.md
  requirements-dev.txt
  scripts/ensure_footer.py
  scripts/generate_weekly_digest.py
  scripts/index_docs.py
  scripts/proposal_lint.py
  scripts/signal_validate.py
  scripts/tem_guardian.py
  signals/2025-39-hello.json
  templates/Persona Template.md
  tools/Forensic-Matrix.md
Labels: area:docs, area:prompts, owner:maintainers, domain:general

docs(digest): weekly signals rollup
  docs/digests/2025-40.md
Labels: area:docs

ci: add cmd submodule and reusable workflow
  .github/workflows/cmd-ci.yml
  .gitmodules
Labels: none

ci: pin cmd reusable workflow + add CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/cmd-ci.yml
Labels: none

docs(digest): weekly signals rollup
  docs/digests/2025-41.md
Labels: area:docs

docs(digest): weekly signals rollup
  docs/digests/2025-42.md
Labels: area:docs

ci: use vm-umbrella shared-release
  .github/workflows/reuse.yml
Labels: none

ci: point reusable workflow to VaultSovereign/Vm-umbrella
  .github/workflows/reuse.yml
Labels: none

ci: lock reusable workflow to Vm-umbrella@v0.1.0
  .github/workflows/reuse.yml
Labels: none

ci: add reusable lint via Vm-umbrella@main
  .github/workflows/reuse-lint.yml
Labels: none

ci: lock reusable lint to Vm-umbrella@v0.2.0
  .github/workflows/reuse-lint.yml
Labels: none

chore: add baseline lint configs (.pre-commit + eslint)
  .eslintrc.cjs
  .pre-commit-config.yaml
Labels: none

ci: add/update security via Vm-umbrella@v0.3.0
  .github/workflows/reuse-security.yml
Labels: none

ci: lock shared-release to Vm-umbrella@v0.3.1
  .github/workflows/reuse.yml
Labels: none

ci: lock shared-release to Vm-umbrella@v0.3.2
  .github/workflows/reuse.yml
Labels: none

ci: lock shared-release to Vm-umbrella@v0.3.3
  .github/workflows/reuse.yml
Labels: none

docs: align links/badges to vm-* naming
  .github/CODEOWNERS
Labels: none

guardrails: block legacy slugs via pre-commit + CI
  .github/workflows/precommit.yml
  .pre-commit-config.yaml
Labels: none

docs: add pre-commit badge
  README.md
Labels: none

docs: refresh auto-generated prompt index
  docs/index.md
Labels: area:docs

chore(docs): nightly knowledge summon
  docs/summon.md
Labels: area:docs

.github/labeler.yml:

area:docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

area:prompts:
  - changed-files:
      - any-glob-to-any-file: 'prompts/**'

ops:mcp:
  - changed-files:
      - any-glob-to-any-file: 'scripts/ops_mcp/**'

owner:maintainers:
  - changed-files:
      - any-glob-to-any-file: 'prompts/Tem-Prompts.md'

domain:general:
  - changed-files:
      - any-glob-to-any-file: 'prompts/Tem-Prompts.md'
